* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: crimson;
    color: blue;
}

header {
    background-color: cornflowerblue;
}

footer {
    background-color: blue;
}